<!DOCTYPE html>
<html>
<head>
  <title>Umanage</title>
  <%= stylesheet_link_tag    "umanage/application", media: "all" %>
  <%= javascript_include_tag "umanage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
