<!DOCTYPE html>
<html>
<head>
  <title>Usermanager</title>
  <%= stylesheet_link_tag    "usermanager/application", media: "all" %>
  <%= javascript_include_tag "usermanager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
